@import "tailwindcss";
#root {
  margin: 20 auto;
  text-align: center;  font-family:  "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


}

 li a{
  cursor: pointer;
  transition: ease-in-out 0.5s;
  position: relative;
  text-decoration: none;
}
li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left:0;
  background-color:rgb(237, 134, 151) ;
  transition: width 0.5s ease;
}
 li a:hover{
  color: rgb(237, 134, 151);

}
 li a:hover::after{
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
button{
  cursor: pointer;
}

